./venv

# AWS CLI Installation files and plugins
awscli-bundle/
awscli-bundle.zip
.aws-cli-venv/
.awscli-bundle/
plugins/
terraform/outputs.txt

# credentials or config files (opt
.aws/credentials
.aws/config

# Generic Settings
####################################
# Logs
*.log
*.log.*
*.out
*.err

# Temporary Files
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.save
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db
~*

# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
.eggs/
*.pytest_cache/
.coverage
.cache
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.hypothesis/
Pipfile
Pipfile.lock
poetry.lock

# AWS
####################################
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.plan
*.aws-sam/
.env
*.envrc

# Kubernetes/Helm
####################################
*.crt
*.key
*.pem
*.config
.kube/
*.helmignore
.helm/repository/
.release/
*.values.yaml

# Database Files
####################################
*.sqlite3
*.db
*.db-journal
*.sql.bak
*.sql.dump

# IDE Specific
####################################
# JetBrains (IntelliJ, PyCharm, WebStorm, etc.)
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.vcxproj.user
*.ncb
*.sdf
*.opensdf
*.vspxproj
*.sln.docstates
.vscode/

# Machine Learning/AI
####################################
*.h5
*.hdf5
*.model
*.pkl
*.pb
*.pt
*.ckpt
*.onnx
*.npy
*.npz
*.mlmodel

# Terraform State Files
####################################
# Local state files
*.tfstate
*.tfstate.backup

# Lock file to prevent multiple concurrent operations
.terraform.lock.hcl

# Terraform Plan files (often used with `terraform plan -out`)
*.tfplan

# Crash log generated by Terraform in case of a crash
crash.log

# Override files (used to customize configurations locally)
*.override.tf
*.override.tf.json

# Ignoring any temporary files or configs
*.tfvars
*.tfvars.json
*.tfvars.backup

# Module and provider-related directories
####################################
# Terraform working directory
.terraform/

# Remote state pull files
terraform.tfstate.d/

# Metadata generated for module dependencies
*.module

# Big Data Tools
####################################
*.avsc
*.parquet
*.orc
*.log.*

# Miscellaneous Tools
####################################
*.bak
*.swp
*.tmp
.envrc
~*
*.pem
*.crt
*.key
*.cer
*.p12
*.jks

# System Files
####################################
Thumbs.db
.DS_Store
*.swp

# CI/CD Pipelines
####################################
# Common CI/CD log files
pipeline.log
.build-log

# Sensitive Data
####################################
# Files that may contain secrets or sensitive data
*.env
*.key
*.pem
*.p12
*.zip

# IDE Specific
####################################
# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Eclipse
.project
.classpath
.settings/